.git
.gitignore
.DS_Store
.env
.env.*
!.env.example
**/[Bb]in
**/[Oo]bj
**/node_modules
**/dist
**/.angular
**/coverage
**/*.db
**/*.db-shm
**/*.db-wal
**/*.sqlite
**/*.sqlite-shm
**/*.sqlite-wal
docs
src/frontend
tests
